<%- include("partials/header.ejs")%>

<h1>Welcome to my Minimal Blog App!</h1>
<% if (posts.length === 0) { %>
<h2>We have no Posts!</h2>
<% } else { %>
<h2>Recent Posts</h2>
<ul>
  <% posts.forEach( item => { %>
  <li>
    <%= item.title %><br />
    <%= item.content %><br />
    <a href="/edit?id=<%= item.id %>>">Edit Post</a>
  </li>
  <% }); %>
</ul>
<% } %>
<form action="/posts" method="post">
  <label for="title">Post title</label>
  <input type="text" name="title" id="title" required />
  <label for="content">Post content</label>
  <textarea name="content" id="content" required></textarea>
  <button type="submit">Submit Post</button>
</form>

<%- include("partials/footer.ejs")%>
